body, html {
    min-height: 100%;
    background-size: 100% 100%;
}

.navbar.nav {
    background-color: #000;
}

.brand_img {
    width: 120px;
}

.brand_img.first {
    width: 50px;
}


.btn.request {
    opacity: 0.9;
    padding: 14px;
}

.full_img {
    background-image: url('../img/rest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.contentTxt {
    position: absolute;
    color: white;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}